<!--- page style --->
<style>
.page {
color: #ffffff !important;
}
p {
color: #ffffff !important;
}
html {
background-color: #2C2F33 !important;
}
.status.green {
color: #00ff3c !important;
}
.column {
margin: auto !important;
}
code {
background: #212428 !important;
color: #7289da !important;
}
.btn-blue {
background: #495ea9 !important;
}
.btn-orange {
background: #495ea9 !important;
}
body {
color: #ffffff !important;
}
h1 {
color: #ffffff !important;
}
h2 {
color: #ffffff !important;
}
th {
color: #ffffff !important;
}
.bot-name {
  color:white;
  -webkit-background-clip: text;
  background-clip: text;
.longdescription .content {
box-shadow: none !important;
color: #2C2F33 !important;
}
}
.color-medium-blue {
color: #495ea9 !important;
}
.content {
background-color: #2C2F33 !important;
}
tr:hover {
background-color: #212428 !important;
}
span.lib {
  color:white !important;
}
span#prefix {
  color:white !important;
}
a:hover {
    color: white !important;
}
.margin-bottom: 15px {
    color: black !important;
}
strong:hover {
    color: black !important;
}
#menu {
background: #212428 !important;
}
</style>
